@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-brand-primari: #06b6d4;
  --color-brand-Cyan400: #22d3ee;
  --color-brand-Cyan600: #06b6d4;
  --color-brand-secoundry: #0f172a;

  --font-bebasNeue: var(--font-bebas-neue);
  --font-sans: var(--font-dm-sans);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-bebasNeue), serif;
  }

  body {
    font-family: var(--font-sans), sans-serif;
  }
}
.highlight-text {
  color: transparent;
  background: linear-gradient(135deg, #22d3ee, #0284c7);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  display: inline-block;
}

.highlight-text::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, transparent, #06b6d4, transparent);
  border-radius: 2px;
  opacity: 0.8;
}
