@import "tailwindcss";
@import "@heroui/styles";

@theme {
    --color-brand-primari: #183835;
    --color-brand-secoundry: #E2EE4F;
    --font-anton: var(--font-anton);
    --font-sans: var(--font-dm-sans);
}


@layer base {
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-anton), serif;
    }

    body {
        font-family: var(--font-sans), sans-serif;
    }

}

