@import "tailwindcss";
@import "@heroui/styles";

@theme {
  --color-brand-primari: #06b6d4;
  --color-brand-Cyan400: #22d3ee;
  --color-brand-Cyan600: #06b6d4;
  --color-brand-secoundry: #0f172a;

  --font-bebasNeue: var(--font-bebas-neue);
  --font-sans: var(--font-dm-sans);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-bebasNeue), serif;
  }

  body {
    font-family: var(--font-sans), sans-serif;
  }
}

.text-gradient {
  color: transparent;
  background: linear-gradient(135deg, #22d3ee, #0284c7);
  -webkit-background-clip: text;
  background-clip: text;
  position: relative;
  display: inline-block;
}

.text-gradient::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(90deg, transparent, #06b6d4, transparent);
  border-radius: 2px;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(
      to top,
      rgba(10, 15, 26, 0.4) 0%,
      rgba(10, 15, 26, 0.95) 100%
    ),
    radial-gradient(
      ellipse 80% 60% at 50% 20%,
      rgba(6, 182, 212, 0.25) 0%,
      transparent 60%
    );
  z-index: 1;
  pointer-events: none;
}
.overlay2 {
  position: absolute;
  inset: 0;
  background-image:
    linear-gradient(
      to bottom,
      rgba(10, 15, 26, 0.4) 0%,
      rgba(10, 15, 26, 0.95) 100%
    ),
    radial-gradient(
      ellipse 80% 60% at 50% 20%,
      rgba(6, 182, 212, 0.25) 0%,
      transparent 60%
    );
  z-index: 1;
  pointer-events: none;
}
